html {
    cursor: url(./src/biohazard.svg), auto;
}

@media(prefers-color-scheme: dark) {

    body {
        background-color: #202124;
        color: #B2B2B2;
    }

    .jumbotron {
        background-color: #343434;
    }

    .card {
        background-color: #343434;
    }

    .btn:hover {
        color: #343434;
    }

    .button input[type="radio"]:checked+label {
        background: #202124;
    }

}

@media(prefers-color-scheme: light) {

    body {
        color: #0c5d1f;
    }

    .jumbotron {
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    }

    .card {
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    }

    .validate {
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    }

    .button input[type="radio"]:checked+label {
        background: #E9ECEF;
    }

}

@media (max-width: 830px) {
    .card {
        zoom: 75%;
    }
}

@media (max-width: 630px) {
    .card {
        zoom: 55%;
    }
}

.validate {
    border-radius: 7px;
    font-size: 60px;
    border-top: none;
    border-bottom: none;
}

.card {
    border-color: #A4B494;
    border-radius: 15px;
    margin-top: 7px;
    margin-bottom: 7px;
    width: 50rem;
}

.nav-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.answer {
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
}

.button input[type="radio"] {
    display: none;
}

.button input[type="radio"]+label {
    border: #A4B494 0.8px solid;
    border-radius: 9px;
}

.button input[type="radio"]:checked+label {
    margin-left: 20px;
}

.button label {
    cursor: pointer;
    line-height: 1.8em;
    padding-left: 9px;
    padding-right: 9px;
}